/*header styling*/

.header {
    text-align: center;
}

/*Keyboard styling*/

.Keyboard {
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: darkslateblue;
}

#Keyrow1 {
    display: flex;
}

#Keyrow2 {
    display: flex;
}

.Key {
    margin: 0px;
    padding: 25px
}